.omikuji {
    display: block;
}

.header {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 5vw;
    justify-content: center;
}

.button-box {
    display: flex;
    justify-content: center;
}

.button {
    font-size: 3vw;
    border-radius: 8% 5px;
    border: 3px solid;
}